.idea
.vscode
/kubeconfig
__debug_bin
testdata/bin/
testdata/crds/*.yaml
!testdata/crds/*.syn.tools.yaml
node_modules/
e2e/debug/
crossplane-service-broker
!cmd/crossplane-service-broker
cover.out
vendor/
